{% extends "base_app.html" %}
{% block page_title %}| WebLink{% endblock %}
{% block page_stylesheet %}
<!-- page stylesheets-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css" />
<!-- <style>.CodeMirror, .editor-preview-side {
      width: 50% !important;
  }</style> -->
{% endblock %}
{% block page_breadcrumb %} WebLink / New{% endblock %}
{% block page_head_title %}WebLink{% endblock %}
{% block body %}
<!-- Main content -->
<div class="row">
    <!-- left column -->
    <div class="col-12">
        <!-- general form elements -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Add a New WebLink</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <div class="col-12">
                <form action="/weblinks/new" method="post" enctype="multipart/form-data" hx-indicator=".htmx-indicator">
                    <div class="mb-2">
                        <div class="row">
                            <div class="col-sm-4">
                                <label for="url" class="col-form-label">URL: </label>
                                <input class="form-control" type="text" name="url" id="url"
                                    placeholder="https://example.com/interesting-thing">
                            </div>
                            <div class="col-sm-4">
                                <label for="category" class="col-form-label">Category: </label>
                                <select id="category" class="form-select" name="category" required>
                                    <option value="">Select Category</option>
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <label for="public" class="col-form-label">Public: </label>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" name="public" id="public" checked>
                                    <label class="form-check-label" for="public">Yes</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- New textarea for comments -->
                    <div class="mb-2">
                        <label for="comment" class="col-form-label">Comment: </label>
                        <textarea class="form-control" name="comment" id="comment" rows="4" maxlength="1000"
                            placeholder="Enter your comment here..."></textarea>
                    </div>
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                    <script>
                        $(document).ready(function () {
                            $.getJSON('/posts/categories', function (data) {
                                $.each(data, function (index, value) {
                                    $('#category').append('<option value="' + value + '">' + value + '</option>');
                                });
                            });
                        });
                    </script>
                    <div class="input-group mb-2">
                        <button type="submit" class="btn btn-primary btn-block" title="Create Weblink">Create WebLink</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block page_scripts %}
<!-- page scripts-->
{% endblock %}
