{% extends "base.html" %}

{% block title %}MikeRyan.ie{% endblock %}

{% block content %}
<div class="contact-info">
    <h1>mikeryan.ie</h1>
    <p>Connect</p>
    <p>
        <a href="https://www.linkedin.com/in/michaellryan" target="_blank" title="LinkedIn"><i
                class="fab fa-linkedin"></i></a>
        <a href="https://x.com/MikeRyan353" target="_blank" title="X"><i class="fa-brands fa-x-twitter"></i></a>
        <a href="https://github.com/devsetgo" target="_blank" title="Github"><i class="fab fa-github"></i></a>
        <a href="https://pypi.org/user/devsetgo" target="_blank" title="PyPi"><i class="fa-brands fa-python"></i></a>
        <!-- <a href="https://www.facebook.com/yourprofile" target="_blank"><i class="fab fa-facebook"></i></a> -->
    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>
        <small>Copyright &copy; Mike Ryan 1997 -
            <script>
                var CurrentYear = new Date().getFullYear()
                document.write(CurrentYear)
            </script>
        </small>
    </p>
</div>
{% endblock %}